.xiaolu__composite {
    position: fixed;
    top: 90px;
    right: 20px;
    color: #333;
    text-align: right;
    z-index: 1000;
}
.xiaolu__composite:hover {
    cursor: pointer;
}
.xiaolu__list {
  display: none;
  position: relative;
  padding: 20px;
  right: 110px;
  top: -36px;
  width: 280px;
  height: 280px;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 8px 24px rgba(51,51,51,.15);
  text-align: left;
}
.xiaolu__list.xiaolu__toggle {
  display: block;
}
.xiaolu__submit {
    margin-top: 20px;
}